

.date{
    margin-left: 183px;
}
.mail{
    margin-left: 200px;
}
.adr{
    margin-left: 185px;
}
.gold{
    margin-left: 115px;
}
.dis{
    margin-left: 179px;
}
.ql{
    margin-left: 122px;
}
.rent{
    margin-left: 180px;
}
.sv{
    margin-left: 136px;
}
.room{
    margin-left: 143px;
}